__pycache__
.pytest_cache
.venv
venv
*.pyc
*.pyo
*.pyd
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
*.egg-info
.installed.cfg
*.egg
.mypy_cache
.pytest_cache
.vscode
.DS_Store
requirements.txt.bak
requirements-diff.json
requirements-pinned-summary.json
